
.game {
    width: 930px;
    margin: auto;
    padding-top: 40px;
}

.game h1 {
    float: left;
}

.game .menu {
    float: right;
}

.world {
    position: relative;
    float: left;
    border: 3px double #ccc;
    height: 500px;
    width: 570px;
    overflow: hidden;
    background: #242f3980;
}

.chat {
    position: relative;
    float: left;
    border: 3px double #ccc;
    height: 500px;
    width: 340px;
    margin-left: 16px;
}

.form {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chat input {
    background: transparent;
    color: #ccc;
    border: none;
    border-top: 3px double #999;
    border-radius: 0;
}

.chat .btn {
    background: transparent;
    color: #ccc;
    border: none;
    border-top: 3px double #999;
    border-left: 1px solid #999;
    border-radius: 0;
}

.chat .form-control:focus {
    color: #ccc;
    background: #242F39;
    border-color: #CCC;
    outline: 0;
    box-shadow: none;
}

.messages {
    position: absolute;
    bottom: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100% - 40px);
    width: 100%;
    padding: .375rem .75rem;
}

.game-container {
    clear: both;
}

.window .error {
    color: #f25f5f;
    margin-top: 1rem;
    font-size: 80%;
}

.tree {
    position: absolute;
    height: 413px;
    width: 222px;
    z-index: 1;
    top: -145px;
    left: 50px;
}

.bed {
    height: 117px;
    width: 209px;
    z-index: 1;
    top: 150px;
    left: 270px;
}

.world img {
    display: block;
    position: absolute;
}
.pet {}
.pet-container {
    transition: all 2.4s;
    transition-timing-function: linear;
    z-index: 10;
    margin: auto;
    position: relative;
    top: 100px;
    left: 0;
    height: 164px;
    width: 163px;
    pointer-events: none;
}
img.bean {
    transition: all 1s;
    position: relative;
    margin: auto;
    top: 60px;
    left: 50px;
    z-index: 2;
}

.no-items {
    color: #888;
    font-size: 12px;
}

#toybox {
    margin-left: -200px;
    margin-top: -300px;
}

#shop {
    margin-left: -160px;
    margin-top: -260px;
}

#travel {
    margin-left: -120px;
    margin-top: -220px;
}

#travel input {
    background: transparent;
    color: #ccc;
    border: none;
    border: 1px solid #999;
    border-radius: 0;
}

#travel .btn {
    background: transparent;
    color: #ccc;
    border: none;
    border: 1px solid #999;
    border-radius: 0;
}